img {
  margin-top: 10px;
  width: 70px;
  height: 70px;
}

h1 + p {
  color: #616c7c;
}
p {
  color: #7b8794;
}

h5 {
  color: #1f2933;
}

h1 {
  color: #183b56;
  margin: 30px 0 25px 0;
}
.row {
  margin-top: 20px;
}
