body {
  background-color: #03254c;
  color: white;
}
h1 {
  font-weight: 400;
  font-size: 44px;
  padding: 30px 0 15px 0;
}

.container {
  padding: 30px 20px;
  width: 300px;
  border-radius: 10px;
  background-color: #f5f9fd;
  color: black;
}
