body {
  background-color: #f4f7f6;
}

button {
  background-color: #0a7af3;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
}

input {
  border-radius: 5px;
  padding: 8px;
  border: 2px solid #e4e7e9;
  background-color: #cad2d5;
}

.container {
  margin-top: 50px;
  padding-top: 30px;
  border: 2px solid gold;
}

.no {
  border-radius: 5px;
  padding: 8px 12px;
  border: 2px solid #e4e7e9;
  background-color: #cad2d5;
}
