body {
  margin: 30px 20px;
}
.bttn {
  color: #1754a1;
}

.view {
  display: flex;
  justify-content: end;
  font-weight: 600;
  background-color: #1754a1;
  color: white;
  border: none;
  margin: 20px;
  padding: 10px 30px;
}

a {
  text-decoration: none;
}

.card {
  height: 100%;
  width: 67%;
}
h1 {
  margin: 20px;
  margin-left: 0;
}

.cc {
  margin-bottom: 20px;
}
