body {
  border: 4px solid lightblue;
  background-color: white;
  height: 90vh;
  width: 33%;
  font-family: Roboto;
  color: #323f4b;
}
p {
  color: #707070;
}
.container {
  /* border: 2px solid black; */
  height: 100vh;
}
.flex1 {
  /* border: 2px solid violet; */
}
.flex3 {
  /* border: 2px solid violet; */
}

.flex2 {
  /* border: 2px solid red; */
  background-color: #0967d219;
  border-radius: 13px;
  height: 110px;
}

.flex4 {
  /* border: 2px solid green; */
  height: 160px;
  border-radius: 13px;
  background-color: #e12d3919;
}

.btn {
  background-color: #0967d2;
  color: white;
}
.sym {
  border-radius: 13px;
  height: 100px;
  width: 100px;
}

.sym1 {
  background-color: #3ebd93;
}
.sym2 {
  background-color: #e668a7;
}
.sym3 {
  background-color: #a368fc;
}

.sym > p {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.sym > img {
  margin-top: 10px;
  margin-left: 20px;
}

.flex2 > div > img {
  margin: 15px 15px 0;
}
.flex2 > div > h5 {
  margin-top: 10px;
}
.flex4 > div > img {
  margin: 15px 15px 0;
}
.flex4 > div > h5 {
  margin-top: 10px;
}
