.container {
  width: 33%;
  background-color: #c290fa;
  color: white;
  padding-bottom: 60px;
}

img {
  margin-top: 30%;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-bottom: 5%;
}
