body {
  /* text-align: center; */
  background-color: whitesmoke;
  border: 2px solid gold;
  font-family: Bree Serif;
  width: 33%;
  height: 100vh;
}

.images {
  height: 150px;
  width: 100px;
}

.bt {
  margin: 20px;
  border: none;
}

.main {
  margin-top: 50px;
  text-align: center;
}
