body {
  background-color: #f5f7fa;
}

h1 {
  font-weight: 700;
  color: #183b56;
}

.btn {
  margin-top: 20px;
  color: #ff9f00;
  background-color: transparent;
  border: 2px solid #ff9f00;
}

.container {
  margin-top: 10%;
}
