body {
  font-family: "Open Sans";
}

button {
  font-size: 18px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

div > button {
  margin: 20px 0;
  font-size: 20px;
  height: 75px;
  width: 350px;
  background-color: #222222;
  color: white;
  font-weight: 700;
}

#select {
  color: #49a6e9;
}

#button1 {
  background-color: #e0e0e0;
}
#button2 {
  background-color: #6fcf97;
}
#button3 {
  background-color: #56ccf2;
}
#button4 {
  background-color: #bb6bd9;
}

h2 {
  margin-top: 50px;
}
