body {
  border: 2px solid gold;
  background-color: #1b1b1b;
  font-family: Bree Serif;
  color: white;
  width: 33%;
}
.abd {
  background-color: #e6f6ff;
  border-radius: 13px;
  width: 80%;
  margin: 10%;
  margin-top: 2%;
}

.grn {
  color: #183b56;
}

.abdul {
  padding-left: 0%;
  width: 150px;
  height: 200px;
}
.imag {
  float: left;
  margin-left: 30px;
  margin-right: 20px;
}
.marg {
  margin-bottom: 0;
  margin-left: 48px;
}
.can2 {
  margin: 10px;
}
.sub {
  border-radius: 10px;
  width: 100px;
  height: 150px;
}
/* Font */
.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
